.select {
    display:flex;
    flex-direction:row;
    width:42.8%;
    height:30px;
    margin-left: 35%;
    margin-right: auto;
    margin-top: 35px;
    }

.selectOrder{
    margin: 0;
    width: 35%;
}

.selectFilter{
    margin: 0;
    width: 35%;
}

.option {
    padding:0 30px 0 10px;
    min-height:35px;
    display:flex;
    align-items:center;
    background:rgb(129, 125, 125);
    border-top:rgb(0, 0, 0) solid 1px;
    position:relative;
    top:0;
    width: 100%;
    box-sizing:border-box;
}

.goback{
    position:fixed;
    top: 90%;
    left: 8%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 10%;
    padding: 10px;
    text-align: center;
    color: #c4a021;
    background:transparent;
    border: 10px solid #c4a021;
    border-radius: 100%;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 50px;
    margin: 0;
    transition-duration: 1s;
    cursor: pointer;
    font-family: 'The Nautigal', cursive;
    font-weight:bold;
    box-shadow: rgb(82, 38, 31);
}

.goback:hover {
    background-color: #c4a021;
    color: white;
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 10rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
